In [1]:
#Its time to get that Estimize Data set in
import pandas as pd
#https://pandas.pydata.org/pandas-docs/stable/10min.html
import numpy as np
import os

##MAKE SURE THE FILE IS IN THE SAME FOLDER AS THIS IPYthON NOTEBOOK (releases.052317.csv)
path = os.getcwd()
filename = 'releases.052317.csv'

print(path)
#Creat BS df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])

df = pd.read_csv(path + '/' + filename)
print(path + '/' + filename)

/Users/whs/Documents/Quant/Estimize Core Data.052317
/Users/whs/Documents/Quant/Estimize Core Data.052317/releases.052317.csv

In [2]:
df.head()

,id,instrument_id,sector,industry,ticker,fiscal_year,fiscal_quarter,reports_at,metric,actual,...,estimize_mean,select_mean,estimize_count,wallstreet_mean,estimize_high,estimize_low,wallstreet_high,wallstreet_low,guidance_high,guidance_low
0,124096,895,Energy,Energy Equipment & Services,BWP,2017,1,2017-05-01 10:00:00,revenue,367.000,...,362.46625,362.715133,8.0,359.282,NaN,NaN,368.00,350.92,NaN,NaN
1,129088,2311,Information Technology,Internet Software & Services,GDDY,2017,2,2017-08-02 20:00:00,revenue,NaN,...,540.91000,547.693178,8.0,551.020,552.02,552.02,NaN,NaN,NaN,NaN
2,144902,2865,Consumer Staples,Food Products,SNAK,2016,4,2017-03-30 10:00:00,revenue,63.365,...,66.67250,64.965906,12.0,65.200,73.00,73.00,NaN,NaN,NaN,NaN
3,136623,1582,Industrials,Machinery,LECO,2018,2,2018-07-24 10:00:00,eps,NaN,...,NaN,NaN,NaN,1.040,NaN,NaN,1.09,1.00,NaN,NaN
4,135058,729,Energy,"Oil, Gas & Consumable Fuels",PDCE,2018,1,2018-05-04 10:00:00,eps,NaN,...,0.22000,0.231211,3.0,0.306,NaN,NaN,0.46,0.18,NaN,NaN

In [3]:
df.info()
#is this a lot of fluctuations? 
#Good that we're not null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369625 entries, 0 to 369624
Data columns (total 21 columns):
id                 369625 non-null int64
instrument_id      369625 non-null int64
sector             369625 non-null object
industry           369625 non-null object
ticker             369625 non-null object
fiscal_year        369625 non-null int64
fiscal_quarter     369625 non-null int64
reports_at         369625 non-null object
metric             369625 non-null object
actual             336305 non-null float64
metric_id          369625 non-null int64
estimize_mean      169453 non-null float64
select_mean        170220 non-null float64
estimize_count     169414 non-null float64
wallstreet_mean    367759 non-null float64
estimize_high      56799 non-null float64
estimize_low       56799 non-null float64
wallstreet_high    90975 non-null float64
wallstreet_low     90975 non-null float64
guidance_high      0 non-null float64
guidance_low       0 non-null float64
dtypes: float64(11), int64(5), object(5)
memory usage: 59.2+ MB

In [4]:
df.describe()

,id,instrument_id,fiscal_year,fiscal_quarter,actual,metric_id,estimize_mean,select_mean,estimize_count,wallstreet_mean,estimize_high,estimize_low,wallstreet_high,wallstreet_low,guidance_high,guidance_low
count,369625.000000,369625.000000,369625.000000,369625.000000,336305.000000,369625.000000,169453.000000,170220.000000,169414.000000,367759.000000,56799.000000,56799.000000,90975.000000,90975.000000,0.0,0.0
mean,73409.700794,1260.379720,2011.419915,2.517235,872.489454,1.483652,1209.081733,1209.885915,16.520789,883.296751,1311.615197,1311.615197,889.177432,835.974223,NaN,NaN
std,42094.736426,748.052919,5.140417,1.126736,3978.164051,0.499733,5120.312156,5192.276837,34.659778,4040.095946,8523.884073,8523.884073,4074.220416,3811.751533,NaN,NaN
min,1.000000,1.000000,1997.000000,1.000000,-827.350000,1.000000,-8.512222,-8.919575,3.000000,-1037.420000,-7.880000,-7.880000,-113.514000,-135.135000,NaN,NaN
25%,35886.000000,590.000000,2008.000000,1.000000,0.320000,1.000000,0.446611,0.446070,5.000000,0.280000,0.500000,0.500000,0.390000,0.300000,NaN,NaN
50%,74476.000000,1273.000000,2013.000000,3.000000,1.710000,1.000000,2.664545,2.712481,8.000000,1.404000,2.890000,2.890000,1.970000,1.710000,NaN,NaN
75%,110069.000000,1856.000000,2016.000000,4.000000,373.100000,2.000000,552.535000,552.007747,16.000000,365.236000,569.730000,569.730000,400.935000,381.545000,NaN,NaN
max,152773.000000,2965.000000,2019.000000,4.000000,138072.000000,2.000000,149063.050000,216476.811207,1184.000000,144392.580000,908163.000000,908163.000000,135504.000000,132555.700000,NaN,NaN

# Sample Data - UAA Only

In [15]:
#Ok, first we need to break this set down...lets just look at UAA

UAA_df = df[df['ticker'] == 'UAA']
#UAA_df.head()
len(UAA_df)
#218 rows

#Sort by fiscal_year then fiscal quarter

UAA_df.sort_values('fiscal_year')
UAA_df.head()
#len(UAA_df)
#218 rows

print('success')

success

# Create Target Variable Y - Beat (1) or Miss (0) Projection

In [16]:
#Make a new column called Y, DO ONLY ONCE
UAA_df.insert(1, 'Y', 0)

#df.insert(4, "new_col_name", tmp)
UAA_df.sort_values('fiscal_year')



print('success')

success

In [19]:
#Set Y to 0 or 1; make it categorical
UAA_df['Y'] = np.where(UAA_df['actual']>=UAA_df['wallstreet_mean'], 1, np.nan)
UAA_df.sort_values('id')
#print(UAA_df)
UAA_df.tail()

/Applications/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,id,Y,instrument_id,sector,industry,ticker,fiscal_year,fiscal_quarter,reports_at,metric,...,estimize_mean,select_mean,estimize_count,wallstreet_mean,estimize_high,estimize_low,wallstreet_high,wallstreet_low,guidance_high,guidance_low
358406,13542,1.0,232,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",UAA,2016,1,2016-04-21 10:00:00,revenue,...,1049.366995,1052.229826,203.0,1041.124,NaN,NaN,NaN,NaN,NaN,NaN
364088,12615,1.0,232,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",UAA,2010,3,2010-10-26 06:55:00,revenue,...,NaN,NaN,NaN,322.440,NaN,NaN,NaN,NaN,NaN,NaN
364323,126275,NaN,232,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",UAA,2017,2,2017-07-25 10:00:00,revenue,...,1180.910308,1093.939378,65.0,1077.879,NaN,NaN,1095.9,1040.9,NaN,NaN
364324,126275,NaN,232,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",UAA,2017,2,2017-07-25 10:00:00,revenue,...,1180.910308,1093.939378,65.0,1077.879,1350.0,1350.0,NaN,NaN,NaN,NaN
365351,12593,NaN,232,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",UAA,2008,4,2009-01-29 06:55:00,revenue,...,NaN,NaN,NaN,179.650,NaN,NaN,NaN,NaN,NaN,NaN

# Tricky Prep - Isolating and Creating a Feature out EPS and REV

In [22]:
#Now we have to clean up EPS and REV. They are each in the dataset, and we want to makes features out of them

feature_names=('fiscal_year','fiscal_quarter','reports_at','instrument_id',
               'ticker','Y','sector','industry',)
#NOTE: Putting in Y, removes all future data observations

UAA_df1 = UAA_df.pivot_table(index=feature_names,
                     columns='metric', 
                     values='estimize_mean',)
UAA_df1 = UAA_df1.reset_index().rename_axis(None, axis=1)
UAA_df1.rename(columns={'eps': 'EMZ_eps', 'revenue':'EMZ_rev'}, inplace=True)

#UAA_df1.info()
UAA_df1.tail()

#Colums that have been remeoved from dataset: 'metric', 'actual', 'metric_id','actual'
#print(UAA_df1)
#print(feature_names)

,fiscal_year,fiscal_quarter,reports_at,instrument_id,ticker,Y,sector,industry,EMZ_eps,EMZ_rev
40,2015,4,2016-01-28 11:00:00,232,UAA,1.0,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",0.239896,1134.592187
41,2016,1,2016-04-21 10:00:00,232,UAA,1.0,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",0.033005,1049.366995
42,2016,2,2016-07-26 10:00:00,232,UAA,1.0,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",0.030185,NaN
43,2016,3,2016-10-25 10:00:00,232,UAA,1.0,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",0.259401,1462.704700
44,2017,1,2017-04-27 10:00:00,232,UAA,1.0,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",-0.001288,1165.910793

In [9]:
#Now we have to go through and seperate everything again as we did with Estimize mean
#with all the rest of these guys

#['estimize_mean','select_mean','estimize_count', 'wallstreet_mean','estimize_high',
#'estimize_low','wallstreet_high','wallstreet_low','guidance_high','guidance_low']

# Creating Features

In [ ]:
#Ok, now for the meat, creating features. We already have our first one in there - EPS estimate
#Lets create EPS Score as our first feature: EMZ_EPSf